#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWERTY 0
#define GAME 1
#define NAV 2
#define NUM 3
#define SYM 4
#define FUNC 5

&mt {
    tapping-term-ms = <160>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <160>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hr: homerow_mods_ring_finger {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RING_FINGER";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hp: homerow_mods_pinky_finger {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_PINKY_FINGER";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tm: thumb_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <160>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        lh: layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <160>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        // Easy alt-tab with alt+backspace thumb using mod-morphs

        bstab: backspace_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_TAB";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp TAB>;

            mods = <MOD_LALT>;
        };

        lt_bspc: layer_tap_backspace_tab {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_BT";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            bindings = <&mo>, <&bstab>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_caps {
            timeout-ms = <50>;
            key-positions = <14 17>;
            layers = <0>;
            bindings = <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp Q       &kp W       &kp E        &kp R            &kp T        &kp Y      &kp U        &kp I         &kp O            &kp P
&kp EQUAL   &hp LGUI A  &hr LALT S  &hm LCTRL D  &hm LSHFT F      &kp G        &kp H      &hm RSHFT J  &hm RCTRL K   &hr RIGHT_ALT L  &hp RGUI SEMI  &kp SQT
&kp ESCAPE  &kp Z       &kp X       &kp C        &kp V            &kp B        &kp N      &kp M        &kp COMMA     &kp DOT          &kp FSLH       &kp BACKSPACE
                                    &kp DEL      &lt 2 BACKSPACE  &lh 1 ENTER  &lt 1 TAB  &lh 2 SPACE  &tm RALT DEL
            >;
        };

        number_layer {
            bindings = <
        &kp EXCL   &kp AT      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE       &kp PLUS   &kp N7  &kp N8  &kp N9  &kp STAR
&kp LT  &kp HASH   &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TILDE      &kp MINUS  &kp N4  &kp N5  &kp N6  &kp N0     &none
&kp GT  &kp PRCNT  &kp CARET   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH  &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp SLASH  &none
                               &trans                &trans                 &trans         &trans     &trans  &trans
            >;
        };

        nav_layer {
            bindings = <
       &none     &none     &none      &none      &none   &none         &none     &kp PG_DN  &kp PG_UP  &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &kp G   &kp LA(UP)    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp INS
&none  &none     &none     &none      &none      &none   &kp LA(DOWN)  &kp HOME  &kp END    &none      &none      &none
                           &trans     &trans     &trans  &trans        &trans    &trans
            >;
        };

        symbol_layer {
            bindings = <
           &kp PIPE  &kp AMPS  &kp STAR   &kp LPAR   &kp RPAR  &none  &none      &none      &none     &none
&kp LCTRL  &kp LT    &kp DLLR  &kp PRCNT  &kp CARET  &kp LBRC  &none  &kp RSHFT  &kp RCTRL  &kp LALT  &kp RGUI  &none
&kp BSPC   &kp GT    &kp EXCL  &kp AT     &kp HASH   &kp RBRC  &none  &none      &none      &none     &none     &none
                               &kp TILDE  &tog 0     &trans    &none  &none      &none
            >;
        };
    };
};
